@model TimeSheetManagementSystem.ViewModels.CustomerAccountsViewModel.CreateCustomerAccounts

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>CustomerAccount</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AccountName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="isVisible" />
                    <label asp-for="isVisible"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="EffectiveStartDate" class="col-md-2 control-label">Effective Start Date</label>
            <div class="col-md-offset-2 col-md-10 date">
                <input asp-for="EffectiveStartDate" placeholder="DD/MM/YYYY" class="form-control" />
                <span asp-validation-for="EffectiveStartDate" class="text-danger"></span>
            </div> 
        </div>

        <div class="form-group">
            <label asp-for="EffectiveEndDate" class="col-md-2 control-label">Effective End Date</label>
            <div class="col-md-offset-2 col-md-10 date">
                <input asp-for="EffectiveEndDate" class="form-control" placeholder="DD/MM/YYYY"/>
                <span asp-validation-for="EffectiveEndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RatePerHour" class="col-md-2 control-label">Rate per hour</label>
            <div class="col-md-10">
                <input asp-for="RatePerHour" class="form-control" />
                <span asp-validation-for="RatePerHour" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" role="button" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            $(function () {
                $(document).ready(function () {
                    $(function () {
                        $('#EffectiveStartDate').datetimepicker({
                            format: 'DD/MM/YYYY'
                        });
                    });
                    $(function () {
                        $('#EffectiveEndDate').datetimepicker({
                            format: 'DD/MM/YYYY'
                        });
                    });

                    //$('#EffectiveStartDate').on('dp.change', function (x) {
                    //    $('#EffectiveEndDate').data("DateTimePicker").minDate(x.date);
                    //});
                    //$('#EffectiveEndDate').on('dp.change', function (x) {
                    //    $('#EffectiveStartDate').data("DateTimePicker").maxDate(x.date);
                    //});
                });
            });
    </script>
}
